@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COGERTI</h1>
    <p class="lead">Controle e Gestão de Recursos de Tecnologia da Informação</p>
    <p><a href="http://www.energysolutions.com.br" class="btn btn-primary btn-lg">Energy & Solutions</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Celulares</h2>
        <p>
            Aparelhos Celulares
        </p>
        <p><a class="btn btn-default" href="http://s055rjo02/ferti/Mobile">Ir para Aparelhos Celulares</a></p>
    </div>
    <div class="col-md-4">
        <h2>Linhas</h2>
        <p>
            Linhas Móveis
        </p>
        <p><a class="btn btn-default" href="http://s055rjo02/ferti/Line">Ir para Linhas Móveis</a></p>
    </div>
    <div class="col-md-4">
        <h2>InforMail</h2>
        <p>
            Enviar Email
        </p>
        <p><a class="btn btn-default" href="http://s055rjo02/ferti/InforMail">Enviar Email</a></p>
    </div>
</div>